<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to React Symfony 4 Starter!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/home.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('theme/css/colors/olive.css') }}">
        {% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer class="footer">
            <p>Check out the full post on <a href="https://www.modernjsforphpdevs.com/react-symfony-4-starter-repo/">Modern JS for PHP Devs</a></p>
        </footer>
             <script type="text/javascript" src="{{asset('theme/scripts/jquery-2.2.0.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('theme/scripts/jpanelmenu.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('theme/scripts/chosen.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('theme/scripts/custom.js')}}"></script>
   </body>     

</html>
